html, body {
  /* Font senza 'serif', più leggibile su uno schermo */
  font-family: sans-serif;
  background-color: #C02020;

  /* Massima larghezza del contenuto (perché non si allarghi troppo) */
  max-width: 1024px;

  /* Centra il contenuto */
  margin: auto;
}

body {
  margin-top: 4em;

  /* Lascia un piccolo margine ai lati (non occupa tutta la pagina) */
  width: 85%;
  min-width: 44em;
  background-color: white;

  /* Affianca immagine e 'div' (con tutto il form) */
  display: flex;
}

div {
  /* Padding è il bordo interno */
  padding: 2em;
  width: 100%;
}

h1 {
  /* Sottolineatura */
  text-decoration: underline #B00000 4px;
  /* Sottolineatura più staccata */
  text-underline-offset: .4em;
  margin-bottom: 1em;
}

label {
  /* Label in grassetto */
  font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
  /* L'input occupa tutta una riga andando a capo */
  display: block;
  margin-bottom: 1em;

  /* Margine all'interno per fare gli input più grandi */
  padding: 1em;
  /* Niente bordo */
  border-style: none;
  background-color: #DDDDDD;

  /* Occupa tutto lo spazio in larghezza */
  width: 100%;

  /* Risolve bug dell'input che supera i margini */
  box-sizing: border-box;
}

input[type="submit"] {
  margin-top: 1em;

  background-color: #B00000;
  color: white;
}

a {
  /* Un link per riga (andando a capo) */
  display: block;
  margin-top: 1.5em;
  color: #CCCCCC;
  /* Niente sottolineatura */
  text-decoration: none;
}
